<!DOCTYPE html>
<html>

<head>
    <title>IMDb Sentiment Analysis</title>

    <link
        rel="stylesheet"
        href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="container">

    <h1>Review Sentiment Analysis</h1>

    <p class="subtitle">
        Enter a review and predict whether the sentiment is positive or negative.
    </p>

    <form method="POST">

        <textarea
            name="review"
            placeholder="Write your sentences here..."
            required></textarea>

        <div class="button-container">
            <button type="submit">
                Analyze Sentiment
            </button>
        </div>

    </form>

    {% if result %}

        <div class="result-card {% if result.sentiment == 'Positive' %}positive{% else %}negative{% endif %}">

            <div class="result-title">
                {{ result.sentiment }}
            </div>

            <div class="confidence">
                Confidence: {{ result.confidence }}%
            </div>

        </div>

    {% endif %}

    <div class="footer">
        Built using TF-IDF + Logistic Regression
    </div>

</div>

</body>
</html>